<div>
  <header class="heading">
    <h3 class="demo-header">Dynamic Loader Demo</h3>
  </header>
  <div class="content">
    <div class="row col-sm-12">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-8 col-md-8">
        This is a demo of the angular-dynamic-loader with rectangle-flip loader type, it'll hide after 5 seconds
        automatically.
      </div>
      <div class="col-lg-2 col-md-2"></div>
    </div>
    <div class="row col-md-12 col-sm-12 content">
      <div class="col-lg-2 col-md-5"></div>
      <div class="col-lg-8 col-md-3">
        <button type="button" class="btn btn-primary" (click)="startLoader()">Start Loader</button>
      </div>
      <div class="col-lg-2 col-md-4"></div>
    </div>
  </div>
  <dynamic-loader loaderType="rectangle-flip"></dynamic-loader>
</div>
